/*  */
/*  */
/*  */
/*  */
#hero {
  min-height: 70vh;
  max-width: 86%;
  margin-inline: auto;
}

.hero-img img {
  border-radius: 50%;
}

#social-icons i {
  transition: var(--transition);
  padding: 3px 6px;
  border-radius: 6px;
  color: azure;
}

#social-icons i:hover {
  color: var(--icon-hover);
  scale: 1.2;
}

.heroBtn {
  color: var(--btnBg);
  background-color: var(--btnColor);
}

#github {
  background: black;
  border: 1px solid rgb(139, 139, 139);
}
#whatsapp {
  background: green;
  border: 1px solid rgb(0, 255, 98);
}
#linkedin {
  background: rgb(0, 26, 175);
  border: 1px solid rgb(0, 174, 255);
}
